@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@-webkit-keyframes error {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes error {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}
@media all and (max-width: 966px) {
  html {
    font-size: 12px;
  }
}
* {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  color: aliceblue;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-image: url("../images/black-bgc.jpg");
}
.main .navbar__container {
  width: 100%;
}
.main .navbar__container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1em 0;
  margin: 0 auto;
  color: aliceblue;
}
.main .navbar__container .navbar li {
  height: 20vh;
}
.main .navbar__container .navbar__timeBox {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  flex: 1;
}
.main .navbar__container .navbar__timeBox .clock {
  display: flex;
  align-items: flex-end;
}
.main .navbar__container .navbar__timeBox .clock p {
  font-size: 4.3em;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 0 0.1em;
}
.main .navbar__container .navbar__timeBox .clock span {
  display: block;
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin: 0;
  opacity: 0.7;
}
.main .navbar__container .navbar__timeBox .date {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: 0.3em;
  margin: 1.2em 0 0 0;
  opacity: 0.7;
}
.main .navbar__container .navbar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.main .navbar__container .navbar__search p {
  width: 100%;
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 200;
  letter-spacing: 0.4em;
  margin: 0 0 0 0.4em;
  text-align: center;
  opacity: 0.8;
}
.main .navbar__container .navbar__temp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.main .navbar__container .navbar__temp .icon {
  width: 3em;
  height: 3em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/cloud.png");
  opacity: 0.7;
}
.main .navbar__container .navbar__temp .temp {
  display: flex;
  align-items: flex-end;
}
.main .navbar__container .navbar__temp .temp h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: 0.1em;
  margin: 0 0.2em 0 0.5em;
}
.main .navbar__container .navbar__temp .temp p {
  font-size: 2.3em;
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0;
}
.main .header__container {
  color: aliceblue;
  width: 100%;
}
.main .header__container .header {
  width: 90%;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .header__container .header__location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  width: 40%;
  margin-left: 5%;
}
.main .header__container .header__location h1 {
  font-size: 6em;
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin: 0;
}
.main .header__container .header__location--error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main .header__container .header__location--error h1 {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 200;
  letter-spacing: 0.2em;
  margin: 0;
  -webkit-animation: error 0.6s forwards;
          animation: error 0.6s forwards;
}
.main .header__container .header__info {
  width: 60%;
}
.main .header__container .header__info p {
  font-size: 1em;
  line-height: 2em;
  font-weight: 200;
  letter-spacing: 0.5em;
  margin: 1em 0;
}
.main .header__container .header__info p span {
  font-size: 2em;
  font-weight: 300;
}
.main .footer__container {
  color: aliceblue;
  width: 100%;
  padding: 0.6em 0;
}
.main .footer__container--title {
  font-size: 0.8em;
  line-height: 1.4em;
  font-weight: 200;
  letter-spacing: 0.3em;
  margin: 0 0 0.5em 5%;
  opacity: 0.7;
}
.main .footer__container .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.main .footer__container .footer__menu {
  border-top: 1px solid rgba(240, 248, 255, 0.3);
  border-bottom: 1px solid rgba(240, 248, 255, 0.3);
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .footer__container .footer__menu button {
  width: 100%;
  font-size: 0.8em;
  line-height: 1.4em;
  font-weight: 200;
  letter-spacing: 0.3em;
  margin: 0.2em 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  opacity: 0.3;
}
.main .footer__container .footer__menu button:hover {
  opacity: 1;
}
.main .footer__container .footer__info {
  flex: 1;
  text-align: right;
  opacity: 0.3;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 200;
  letter-spacing: 0.3em;
  margin: 0;
}/*# sourceMappingURL=style.css.map */